<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.abcphonegfdsgapbuild.xfdsaxx"
    version="1.3">

    <name> com.phonegapbuild.xfdsaxx  </name>
    <description> gwtrfsgwersdgsdgdsf  </description>

    <asset src="www/cdv-plugin-fb-connect.js" target="cdv-plugin-fb-connect.js" />
    <asset src="www/facebook_js_sdk.js" target="facebook_js_sdk.js" />
    
    <access origin="m.facebook.com" />
    <access origin="graph.facebook.com" />
    <access origin="api.facebook.com" />
    <access origin="*.fbcdn.net" />
    <access origin="*.akamaihd.net" />
    
    <preference name="APP_ID" />
    
    <engines>
      <engine name="cordova" version=">=2.1.0" />
    </engines>
    
    <!-- android -->
   
</plugin>
